html,
body {
    height: 100%;
    background-color: turquoise;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container-fluid {
    display: table;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}